<body>
    <div class="container">
        <h2>Forget Password</h2>
        <div class="form-container">
            <form>
                
                <div *ngIf="success; then SUCCESS_MSG else ERROR_MSG" ></div>
                <ng-template #SUCCESS_MSG >
                <div [class.fade-out]="!isElementVisible">
                    <h3 id="msg_format" style="color:rgb(29, 223, 29);">{{ message }}</h3>
                </div>
                </ng-template>
                <ng-template #ERROR_MSG>
                    <div [class.fade-out]="!isElementVisible">
                        <h3 id="msg_format" style="color:red">{{ message }}</h3>
                    </div>
                </ng-template>

                <div class="input-name">
                    <label>Login Id<span style="color: red;margin-left:1px">*</span></label>
                    <span>
                        <i class="fa fa-envelope icon"></i>
                    <input (focus)="fadeOutElement()" [(ngModel)]="form.login_id" type="text" placeholder="Enter Your Email" name="login_id" class="name" style="width: 70%;">
                    </span>
                </div>

                <div class="input-name">
                    <span style="color: red;margin-left:120px">{{ inputError.login_id  }}</span>
                </div>
                
                <div class="input-button">
                    <button (click)="submit()" class="button" style="margin-left: 175px;">Send</button> 
                </div>
            </form>
            
        </div>

    </div>

  
</body>