<body>
    <div class="container">
        <h2>Change Password </h2>
        <div class="form-container">
            <form>
                
                <div *ngIf="success; then SUCCESS_MSG else ERROR_MSG" ></div>
                <ng-template #SUCCESS_MSG >
                    <div [class.fade-out]="!isElementVisible">
                        <h3 id="msg_format" style="color:rgb(29, 223, 29);">{{ message }}</h3>
                    </div>
                </ng-template>
                <ng-template #ERROR_MSG>
                    <div [class.fade-out]="!isElementVisible">
                        <h3 id="msg_format" style="color:red">{{ message }}</h3>
                    </div>
                </ng-template>
    
                
                <div class="input-name">
                    <i class="fa fa-lock icon"></i>
                    <input (focus)="fadeOutElement()" [(ngModel)]="form.oldPassword" type="password" placeholder="Enter Your Old Password" name="oldPassword" class="text-name">
                </div>

                <div class="input-name">
                    <span style="color: red;margin-left:1px">{{inputError.oldPassword}}</span>
                </div>

                <div class="input-name">
                    <i class="fas fa-lock icon"></i>
                    <input (focus)="fadeOutElement()" [(ngModel)]="form.newPassword" type="password" placeholder="Enter New Password" name="newPassword" class="text-name">
                </div>

                <div class="input-name">
                    <span style="color: red;margin-left:1px">{{inputError.newPassword}}</span>
                </div>

                <div class="input-name">
                    <i class="fas fa-lock icon"></i>
                    <input (focus)="fadeOutElement()" [(ngModel)]="form.confirmPassword" type="password" placeholder="Enter Your Confirm Password" name="confirmPassword"  class="text-name">
                </div>

                <div class="input-name">
                    <span style="color: red;margin-left:1px">{{inputError.confirmPassword}}</span>
                </div>
                
                <div class="input-button">
                    <div class="row">
                        <button (click)="submit()" class="button" style="margin-left:127px ;">Save</button>
                        <button (click)="reset()" class="button">Reset</button>
                    </div>
                </div>

                
            </form>
        
        </div>

    </div>
    
</body>
