<body>
  <div class="center">

    <h1 style="color: rgb(6, 54, 248);">Login</h1>

    <div *ngIf="success; then SUCCESS_MSG else ERROR_MSG"></div>
    <ng-template #SUCCESS_MSG>
        <div [class.fade-out]="!isElementVisible">
        <h3 style="color:rgb(29, 223, 29);text-align:center;font-size:28px;font-family:serif;">{{ form.message }}</h3>
        </div>
      </ng-template>

    <ng-template #ERROR_MSG>
      <div [class.fade-out]="!isElementVisible">
        <h3 style="color:red;text-align:center;font-size:25px;font-family:serif;">{{ form.message }}</h3>
      </div>
      </ng-template>
    <form>
      
      <div class="txt_field">
        <input (focus)="fadeOutElement()" [(ngModel)]="form.login_id" type="text" name="userId" required>
        <span></span>
        <label>Email</label>
        <span style="color:red">{{inputError.login_id }}</span>
      </div>
      
      <div class="txt_field">
        <input (focus)="fadeOutElement()" [(ngModel)]="form.password" type="password" name="password" required>
        <span></span>
        <label>Password</label>
        <div style=" color:red;">{{inputError.password }}</div>
      </div>


      <div class="pass"><a [routerLink]="['/forgetpassword']">Forgot Password?</a></div>

      <button id="cssLogin" (click)="signIn()">Login</button>

      <div class="signup_link">
        <span >Not a member? <a (click)="onclick()">Signup</a></span>  
      </div>
    </form>
  </div>
</body>