
.center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: rgba(197, 194, 194, 0.064);
    border-radius: 10px;
    box-shadow: 0 0 7px 5px rgb(6, 54, 248);
    border: 10px #281be9;
  
  }
  .center h1{
    text-align: center;
    padding: 20px 0;
    border-bottom: 1px solid rgb(6, 54, 248);
  }
  .center form{
    padding: 0 40px;
    box-sizing: border-box;
  }
  form .txt_field{
    position: relative;
    border-bottom: 2px solid rgb(6, 54, 248);
    margin: 30px 0;
  }
  .txt_field input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 20px;
    border: none;
    background: none;
    outline: none;
  }
  .txt_field label{
    position: absolute;
    top: 50%;
    left: 5px;
    color: rgb(6, 54, 248);
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
  }
  .txt_field span::before{
    content: '';
    position: absolute;
    top: 40px;
    left: 0;
    width: 0%;
    height: 2px;
    background: #2691d9;
    transition: .5s;
  }
  
  .txt_field input:focus ~ label,
  .txt_field input:valid ~ label{
    top: -5px;
    color: #2691d9;
  }
  
  .txt_field input:focus ~ span::before,
  .txt_field input:valid ~ span::before {
    width: 0%;
  }
    
  .pass {
    margin: -5px 0 20px 5px;
    
  }
  
  .pass a {
    color: rgb(2, 52, 253);
    font-weight: 500;
    
  }
  
  .pass a:hover{
    text-decoration: underline;
  }
  
  #cssLogin{
  
    color: #fff;
    border: 3px solid #2329de;
    background-image: linear-gradient(30deg, #1b1fe1 50%, transparent 50%);
    background-size: 500px;
    transition: background 300ms ease-in-out;
    border:3px solid #1b1fe1;
    border-radius: 20px;
    margin-left: 26%;
    width:150px;
    height: 40px;
  }
  
  #cssLogin:hover{
  
    background-position: 100%;
    color: #211eda;
    box-shadow: 0 0 10px blue inset , 0 0 20px 2px blue;
  
  
  }
  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #0b0909;
  }
  
  .signup_link a{
    color: rgb(6, 54, 248);
    text-decoration: none;
    font-weight: 500;
    
  }
  
  .signup_link a:hover{
    text-decoration: underline;
    cursor: pointer;
    
  }

  .fade-out {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
  }